
# ---------------------------- Load Filament -------------------------

[gcode_macro LOAD_FILAMENT]
# M701
gcode:
  SAVE_GCODE_STATE NAME=loading_filament
  M117 Loading Filament
  M83
  G92 E0.0
  LOW_TEMP_CHECK
  G1 E360 F2000  # length of bowden tube till cold-end (~420mm) 
  G1 E10 F300  # some extra to prime the nozzle --> slower 
  G92 E0.0
  RESTORE_GCODE_STATE NAME=loading_filament

# --------------------------------------------------------------------

# ---------------------------- Unload Filament -----------------------

[gcode_macro UNLOAD_FILAMENT]
# M702
gcode:
  SAVE_GCODE_STATE NAME=unloading_filament
  #M125 # park
  M117 Unloading Filament 
  LOW_TEMP_CHECK
  G91 # set relative
  M83
  #G1 E10 F100 
  G92 E0.0
  G1 E-5 F600
  G1 E-370 F2000 # the total E is the length of the bowden tube (365mm) + 100 mm. 
  G92 E0.0
  RESTORE_GCODE_STATE NAME=unloading_filament

# --------------------------------------------------------------------

# --------------------Filament Change---------------------------------
# filament change 
[gcode_macro FILAMENT_CHANGE]
# M600
gcode:
  M117 Filament Change
  M118 Filament Change
  SAVE_GCODE_STATE NAME=filament_change
  PAUSE
  LOW_TEMP_CHECK
  G91 # relative
  G1 E-1 F300 # retract 1
  #M125 # park
  M106 S250 ; FAN
  #M702 # unload
  UNLOAD_FILAMENT
  M117 New filament 20s
  M118 New filament 20s
  #COUNTDOWN TIME=25 MSG="Switch"
  G4 P20000
  #M701
  LOAD_FILAMENT
  G1 E-3 F600
  M117 Clean 10s
  M118 Clean 10s
  G4 P10000
  M106 S0 ; NO FAN
  #COUNTDOWN TIME=10 MSG="Clean"
  RESUME
  M117 Resuming
  M118 Resuming
  RESTORE_GCODE_STATE NAME=filament_change
  M117 Printing..
  M118 Printing..

# --------------------------------------------------------------------
